<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

    <link href="/css/song_history_style.css" rel="stylesheet">
    <link rel="stylesheet" href="./css/footer_style.css">
    
    <title>Pho2Song - History Feature</title>
</head>

<body>

    <%- include("../partials/navbar.ejs"); %>

        <div class="container-fluid">
            <div class="row mx-auto mt-2 p-1 mb-1">
                <div class="col-12 mx-auto">
                    <h1 class="text-center">Hey <%= p2suser %>!</h1> 
                </div>
            </div>
            <div class="row mx-auto mt-1 mb-3 p-2">
                <div class="col-12 mx-auto">
                    <h2 class="text-center">Ecco com'è andata la tua esperienza su Pho2Song!</h2>
                </div>
            </div>
            <div class="row mx-auto p-2 text-lg-start text-xl-start text-xxl-start text-center">
                <div class="col-lg-6 col-xl-6 col-xxl-6">
                    <h3>Queste sono le tue playlist:</h3>
                </div>
            </div>
            <div class="row mx-auto p-2">
                <% for(i=0; i < p2splaylists.length; i++) { %>
                    <% if(p2suser==p2splaylists[i].value.user){ %>
                        <div class="col-md-4 col-lg-4 col-xl-4 col-xxl-4">
                            <ul class="list-group">
                                <button type="button" class="list-group-item my-1 d-flex justify-content-between align-items-start"
                                    onclick="displaySongs('<%= p2splaylists[i].id%>')">
                                    <div class="ms-2 me-auto">
                                        <div class="fw-bold text-start playlist-name">
                                            <%= p2splaylists[i].value.name %>
                                        </div>
                                        <div class="text-start playlist-description">
                                            <%= p2splaylists[i].value.description %>
                                        </div>
                                    </div>
                                    <span class="badge bg-black rounded-pill">
                                        <%= p2splaylists[i].value.song_number %>
                                    </span>
                                </button>
                            </ul>
                        </div>
                        <div class="col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                            <ul class="list-group mx-auto" id="<%=p2splaylists[i].id%>Songs" style="display: none;">
                                <% p2splaylists[i].value.songs.forEach((songData)=> { %>
                                    <li class="list-group-item mx-auto d-flex">
                                        <div class="row">
                                            <div class="col-12 mx-auto">
                                                <% try { %> 
                                                    <% url = new URL(songData.photo); %>
                                                    <div class=" song-text mt-1 mb-1 ms-2 me-auto" >
                                                        <%= songData.song.name %> è stata ottenuta dalla foto: <a href= "<%= songData.photo %>"><%= songData.photo%></a>
                                                    </div>
                                                  <% } catch (_) { %>
                                                    <div class=" song-text mt-1 mb-1 ms-2 me-auto" >
                                                        <%= songData.song.name %> è stata ottenuta dalla foto: <%= songData.photo %>
                                                    </div>
                                                <% } %>
                                            </div>
                                        </div>
                                    </li>
                                    
                                <% }) %>
                            </ul>
                        </div>
                    <% } %>
                <% } %>
            </div>

            <div class="row my-3 text-center">
                <div class="col-lg-6 col-xl-6 col-xxl-6 mx-auto my-2">
                    <h4>Questi risultati non ti bastano?</h4>
                    <p>Potresti utilizzare la funzione <a class="plist-analyzer-link" href="/plist-analyzer">playlist analyzer!</a></p>
                </div>
            </div>

        </div>

        <%- include("../partials/footer.ejs"); %> 

        <script src="./scripts/navbar_scripts.js"></script>
        <script src="./scripts/song_history_scripts.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
            crossorigin="anonymous"></script>

</body>


</html>